* {
    max-width: 1024px;
    margin: auto;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    height: 2.5rem; /* Footer height */
}

body {
    margin: 0;
    background-color: lightgray
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar h1 {
    float: left;
    color: #f2f2f2;
    padding: 5px 16px;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.gridContainer {
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid {
    margin-left: 256px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.grid2 {
    margin-left: 256px;
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #D75900;
}

    .button:hover {
        background-color: #D75900;
        color: white;
    }

.card {
    float: left;
    background-color: #f2f2f2;
    padding: 20px;
}

.roundedBorder {
    border-radius: 5px;
}

.center {
    text-align: center;
}
