@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div>
    <h3>UTBILDNING</h3>
    <h5>2017 – 2020 EL- och Energiprogrammet inriktning Dator och Kommunikationsteknik</h5>
    <p>
        NTI-gymnasiet, Skövde:
        Har gått El- och energiprogrammet med IT inriktning som ger grundläggande kunskaper om el men fokuseras mer på datorer och kommunikationsteknik
        som tillval från standard kurserna tog jag programmering 1 och elektronik och mikrodatorteknik
    </p>
    <h3>IT-KUNSKAPER</h3>
    <p>
        Mjukvara:
        Programspråk:	Python.
        Operativsystem:	Windows 10, Windows Server 2012
    </p>
    <p>
        Hårdvara:
        Laptop/Desktop:	Installation/Felsökning/Underhåll/Montering
        Nätverk/Server:	Sätta upp/Installera
    </p>
</div>