@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prodjects";
}

<h1>Prodjects</h1>

<ul>
    <li>
        <h3>Calculator</h3>
        <p>Creator: SmolSwede</p>
        <p>GitHub:<a href="https://github.com/SmolSwede/Calculator">Calculator</a></p>
    </li>
    <li>
        <h3>Hangman</h3>
        <p>Creator: SmolSwede</p>
        <p>GitHub:<a href="https://github.com/SmolSwede/Hangman">Hangman</a></p>
    </li>
    <li>
        <h3>VendingMachine</h3>
        <p>Creator: SmolSwede</p>
        <p>GitHub:<a href="https://github.com/SmolSwede/VendingMachine">VendingMachine</a></p>
    </li>
    <li>
        <h3>Html-Assignment</h3>
        <p>Creator: SmolSwede</p>
        <p>GitHub:<a href="https://github.com/SmolSwede/Html-Assignment">Html-Assignment</a></p>
    </li>
    <li>
        <h3>Sokoban-Assignment</h3>
        <p>Creator: SmolSwede</p>
        <p>GitHub:<a href="https://github.com/SmolSwede/Sokoban-Assignment">Sokoban-Assignment</a></p>
    </li>

</ul>